/*font face*/
$fontFileName: "fonts/icons/icons";
$fontName: "icons";

@font-face {
  font-family: $fontName;
  src: url('#{$fontFileName}.eot');
  src: url('#{$fontFileName}.eot?#iefix') format('embedded-opentype'), url('#{$fontFileName}.woff') format('woff'), url('#{$fontFileName}.ttf') format('truetype'), url('#{$fontFileName}.svg#icons-social') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* global foundicon styles */
[class*="icn-"]  {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  font-style:normal;
}
[class*="icn-"]:before {
  font-family: $fontName;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  @extend .antialiased;
}

.icn-angry:before {
	content: "\e000";
}
.icn-arrow-right:before {
	content: "\e001";
}
.icn-arrow-left:before {
	content: "\e002";
}
.icn-minus:before {
	content: "\e003";
}
.icn-plus:before {
	content: "\e004";
}
.icn-share:before {
	content: "\e005";
}
.icn-gear:before {
	content: "\e006";
}
.icn-expand:before {
	content: "\e007";
}
.icn-find_me:before {
	content: "\e008";
}
.icn-contact:before {
	content: "\e009";
}
.icn-collapse_menu:before {
	content: "\e00a";
}
.icn-clock:before {
	content: "\e00b";
}
.icn-circled_plus:before {
	content: "\e00c";
}
.icn-circled_minus:before {
	content: "\e00d";
}
.icn-bookmark:before {
	content: "\e00e";
}
.icn-arrow-up:before {
	content: "\e00f";
}
.icn-arrow-down:before {
	content: "\e010";
}
.icn-thumb_down:before {
	content: "\e011";
}
.icn-thumbs:before {
	content: "\e012";
}
.icn-upload:before {
	content: "\e013";
}
.icn-click:before {
	content: "\e014";
}
.icn-home:before {
	content: "\e015";
}
.icn-instagram:before {
	content: "\e016";
}
.icn-location:before {
	content: "\e017";
}
.icn-money:before {
	content: "\e019";
}
.icn-people:before {
	content: "\e01a";
}
.icn-photo:before {
	content: "\e01b";
}
.icn-pinterest:before {
	content: "\e01c";
}
.icn-rate:before {
	content: "\e01d";
}
.icn-recommend:before {
	content: "\e01e";
}
.icn-search:before {
	content: "\e01f";
}
.icn-thumb_up:before {
	content: "\e020";
}
.icn-twitter:before {
	content: "\e021";
}
.icn-facebook:before {
	content: "\e022";
}
.icn-close:before {
	content: "\e023";
}
.icn-map:before {
	content: "\e018";
}
.icn-map-2:before {
	content: "\e024";
}
.icn-calendar:before {
	content: "\e025";
}
.icn-arrow-small-down:before {
	content: "\e026";
}
.icn-arrow-small-up:before {
	content: "\e027";
}
.icn-arrow-left-2:before {
	content: "\e028";
}
.icn-arrow-right-2:before {
	content: "\e029";
}
