/*font face*/
$fontFileName: "fonts/icons-social/icons-social";
$fontName: "icons-social";

@font-face {
  font-family: $fontName;
  src: url('#{$fontFileName}.eot');
  src: url('#{$fontFileName}.eot?#iefix') format('embedded-opentype'), url('#{$fontFileName}.woff') format('woff'), url('#{$fontFileName}.ttf') format('truetype'), url('#{$fontFileName}.svg#icons-social') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* global foundicon styles */
[class*="icn-social"]  {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  font-style:normal;
}
[class*="icn-social"]:before {
  font-family: $fontName;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  @extend .antialised;
}

/* icons */
.icn-social-facebook:before {
	content: "\e0f7";
}
.icn-social-facebook-2:before {
	content: "\e0f8";
}
.icn-social-googleplus:before {
	content: "\e0f9";
}
.icn-social-googleplus-2:before {
	content: "\e0fa";
}
.icn-social-pinterest:before {
	content: "\e0fb";
}
.icn-social-pinterest-2:before {
	content: "\e0fc";
}
.icn-social-tumblr:before {
	content: "\e0fd";
}
.icn-social-tumblr-2:before {
	content: "\e0fe";
}
.icn-social-linkedin:before {
	content: "\e0ff";
}
.icn-social-linkedin-2:before {
	content: "\e100";
}
.icn-social-dribbble:before {
	content: "\e101";
}
.icn-social-dribbble-2:before {
	content: "\e102";
}
.icn-social-stumbleupon:before {
	content: "\e103";
}
.icn-social-stumbleupon-2:before {
	content: "\e104";
}
.icn-social-lastfm:before {
	content: "\e105";
}
.icn-social-lastfm-2:before {
	content: "\e106";
}
.icn-social-rdio:before {
	content: "\e107";
}
.icn-social-rdio-2:before {
	content: "\e108";
}
.icn-social-spotify:before {
	content: "\e109";
}
.icn-social-spotify-2:before {
	content: "\e10a";
}
.icn-social-qq:before {
	content: "\e10b";
}
.icn-social-instagram:before {
	content: "\e10c";
}
.icn-social-dropbox:before {
	content: "\e10d";
}
.icn-social-evernote:before {
	content: "\e10e";
}
.icn-social-flattr:before {
	content: "\e10f";
}
.icn-social-skype:before {
	content: "\e110";
}
.icn-social-skype-2:before {
	content: "\e111";
}
.icn-social-renren:before {
	content: "\e112";
}
.icn-social-sina-weibo:before {
	content: "\e113";
}
.icn-social-paypal:before {
	content: "\e114";
}
.icn-social-picasa:before {
	content: "\e115";
}
.icn-social-soundcloud:before {
	content: "\e116";
}
.icn-social-mixi:before {
	content: "\e117";
}
.icn-social-behance:before {
	content: "\e118";
}
.icn-social-circles:before {
	content: "\e119";
}
.icn-social-vk:before {
	content: "\e11a";
}
.icn-social-smashing:before {
	content: "\e11b";
}
.icn-social-github:before {
	content: "\e0ee";
}
.icn-social-github-2:before {
	content: "\e0ef";
}
.icn-social-flickr:before {
	content: "\e0f0";
}
.icn-social-flickr-2:before {
	content: "\e0f1";
}
.icn-social-vimeo:before {
	content: "\e0f2";
}
.icn-social-vimeo-2:before {
	content: "\e0f3";
}
.icn-social-twitter:before {
	content: "\e0f4";
}
.icn-social-twitter-2:before {
	content: "\e0f5";
}
.icn-social-facebook-3:before {
	content: "\e0f6";
}
