/* font-face */
$fontFileName: "fonts/icons-enclosed/icons-enclosed";
$fontName: "icons-enclosed";
@font-face {
  font-family: $fontName;
  src: url('#{$fontFileName}.eot');
  src: url('#{$fontFileName}.eot?#iefix') format('embedded-opentype'), url('#{$fontFileName}.woff') format('woff'), url('#{$fontFileName}.ttf') format('truetype'), url('#{$fontFileName}.svg#icons-enclosed') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="icn-enclosed"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="icn-enclosed"]:before {
  font-family: $fontName;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  @extend .antialised;
}

/* icons */
.icn-enclosed-settings:before {
  content: "\f000";
}

.icn-enclosed-heart:before {
  content: "\f001";
}

.icn-enclosed-star:before {
  content: "\f002";
}

.icn-enclosed-plus:before {
  content: "\f003";
}

.icn-enclosed-minus:before {
  content: "\f004";
}

.icn-enclosed-checkmark:before {
  content: "\f005";
}

.icn-enclosed-remove:before {
  content: "\f006";
}

.icn-enclosed-mail:before {
  content: "\f007";
}

.icn-enclosed-calendar:before {
  content: "\f008";
}

.icn-enclosed-page:before {
  content: "\f009";
}

.icn-enclosed-tools:before {
  content: "\f00a";
}

.icn-enclosed-globe:before {
  content: "\f00b";
}

.icn-enclosed-home:before {
  content: "\f00c";
}

.icn-enclosed-quote:before {
  content: "\f00d";
}

.icn-enclosed-people:before {
  content: "\f00e";
}

.icn-enclosed-monitor:before {
  content: "\f00f";
}

.icn-enclosed-laptop:before {
  content: "\f010";
}

.icn-enclosed-phone:before {
  content: "\f011";
}

.icn-enclosed-cloud:before {
  content: "\f012";
}

.icn-enclosed-error:before {
  content: "\f013";
}

.icn-enclosed-right-arrow:before {
  content: "\f014";
}

.icn-enclosed-left-arrow:before {
  content: "\f015";
}

.icn-enclosed-up-arrow:before {
  content: "\f016";
}

.icn-enclosed-down-arrow:before {
  content: "\f017";
}

.icn-enclosed-trash:before {
  content: "\f018";
}

.icn-enclosed-add-doc:before {
  content: "\f019";
}

.icn-enclosed-edit:before {
  content: "\f01a";
}

.icn-enclosed-lock:before {
  content: "\f01b";
}

.icn-enclosed-unlock:before {
  content: "\f01c";
}

.icn-enclosed-refresh:before {
  content: "\f01d";
}

.icn-enclosed-paper-clip:before {
  content: "\f01e";
}

.icn-enclosed-video:before {
  content: "\f01f";
}

.icn-enclosed-photo:before {
  content: "\f020";
}

.icn-enclosed-graph:before {
  content: "\f021";
}

.icn-enclosed-idea:before {
  content: "\f022";
}

.icn-enclosed-mic:before {
  content: "\f023";
}

.icn-enclosed-cart:before {
  content: "\f024";
}

.icn-enclosed-address-book:before {
  content: "\f025";
}

.icn-enclosed-compass:before {
  content: "\f026";
}

.icn-enclosed-flag:before {
  content: "\f027";
}

.icn-enclosed-location:before {
  content: "\f028";
}

.icn-enclosed-clock:before {
  content: "\f029";
}

.icn-enclosed-folder:before {
  content: "\f02a";
}

.icn-enclosed-inbox:before {
  content: "\f02b";
}

.icn-enclosed-website:before {
  content: "\f02c";
}

.icn-enclosed-smiley:before {
  content: "\f02d";
}

.icn-enclosed-search:before {
  content: "\f02e";
}
