// **************************************************
//
// GRID SYSTEM
// modular grid system
//
// _invariant-half.scss
//
// Split a column into 2 cols
//
// **************************************************

.g-all-half-percentage {
  width:47.5%;
  float:left;
  &.g-all-f {
    margin-right:5%;
  }

}